.fondo-naranjo {
    background-color: rgb(255, 147, 7);
}

.texto-naranjo {
    color: rgb(255, 147, 7);
}

.texto-bold, h1 {
    font-weight: bold;
}

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

tr, td {
    padding: 4px 24px 4px 16px;
}

tr:nth-child(even) {
    background-color: rgb(255, 223, 182);
}